
<div class="container">
    <div class="card shadow">
      <div class="card-body bod">
        <div class="row">
          <div class="col-md-5">
            <div class="col-md-12 justify-content-center">
              <img class="img-fluid image" src={{image}} alt="logindesign" id="img">
            </div>
          </div>
          <div class="col-md-7">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/login']" id='link1' routerLinkActive="router-link-active" >Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/sign']" id="link2" routerLinkActive="router-link-active" >SignUP</a>
                </li>
            </ul>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
